<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/c.css'%}">
        <link rel="jsdelivr" href="{% static 'js/test.js'%}">

    <style>
        html,
        body,
        h1,
        h2,
        h3,
        h4,
        h5 {
            font-family: "Open Sans", sans-serif
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Freelancer</title>
</head>

<body class="w3-theme-l5">

    <div class="con" style="margin: 0 auto; height: auto;width: 1111px;">
        <header style="display:flex; justify-content: space-between; margin: 15px; position: sticky;">
            <h2> Welcome {first name}{last name}</h2>
            <div class="class1">
                <p><a class="link-primary" href="/wallfeed.html">WallFeed</a> |<a class="link-primary"
                        href="/main/communtity">Communtiy</a> | <a class="link-danger" href="/log/logout">Logout</a> </p>
            </div>
        </header>
        <hr><br>
        <!-- Middle Column -->
        <div class="w3-col m7">


            <!--
            <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
                <span class="w3-right w3-opacity">{{msg.update_at}}</span>
                <h4> Massage From {{user.first}}{{user.last}}</h4><br>
                <hr class="w3-clear">
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.</p> 
                <p></p>

                <div class="w3-row-padding" style="margin:0 -16px">

                </div>
                <div class="input-group mb-3">
                    <form action="Add-reply" method="POST">

                        <input type="text" name="Reply" class="form-control" aria-label="Example text with button addon"
                            aria-describedby="button-addon1">
                            <button class="btn btn-outline-secondary w3-button w3-theme" type="submit" id="Comment-addon1">Reply</button>
                    </form>
                </div>
            </div>
            -->
            <div>
            	{} for sender in all_senders }
            	<form action="Add-reply" method="POST">
            	<div class="massenger">
				  <div class="title">
				    <div class="img-profile">
				      <img src="{{sender.img}}" />
				    </div>
				    <span>{sender.first_name}</span>
				    <i class="fas fa-lg fa-ellipsis-v"></i>
				  </div>
				  <div class="massenger-box">

				    <div class="message-wrapper">
				      <div class="perview-box-msg">
				      	{for msg in all_massges}
				        <div class="mrm-msg">
				          {msg.Massage}
				        </div>
				        {endfor}
				      </div>
				    </div>

				    <div id="chatBoxSend">
				      <span id="smile">
				        <i class="fa fa-smile" aria-hidden="true"></i>
				      </span>
				      <input placeholder="Message..." type="text" id="msgBoxSend" />
				      <span id="sendMsg">
				        <input type="submit" name="sendMsg" value="send">
				      </span>
				    </div>
				  </div>
				</div>
				</form>
				{endfor }
            </div>
            <!-- <div class="w3-container w3-card w3-white w3-round w3-margin"><br>

                <span class="w3-right w3-opacity">{{msg.update_at}}</span>
                <h4>{{user.first}}{{user.last}}</h4><br>
                <hr class="w3-clear">
                <p>Have you seen this?</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.</p>
                <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>
                     Like</button>
                <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>
                     Comment</button>
            </div> -->

            <!-- End Middle Column -->

        </div>
</body>

</html>